              <h5 class="fw-bold">판매자 재고 현황</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>창고명</th>
                    <th>작물명</th>
                    <th>보관시작기간</th>
                    <th>유통기한</th>
                    <th>재고량</th>
                    <th>상세보기</th>
                  </tr>
                </thead>
                <tbody>
                  {% for inventories in inventories %}
                  <tr>
                    <td>{{ inventories.warehouse_id.warehouse_name }}</td>
                    <td>{{ inventories.fruit_id.fruit_name}}</td>
                    <td>{{ inventories.warehousing_id.warehousing_time}}</td>
                    <td>{{ inventories.inventory_expiration }}</td>
                    <td>{{ inventories.inventory_quantity}}</td>
                    <td>
                      <a
                        class="btn btn-primary m-1"
                        href="inventory/1"
                        >Detail</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
